<mat-card>
  <mat-card-content>
    <form [formGroup]="form" >
      <mat-card-title>
        Change Password
      </mat-card-title>
      <mat-divider></mat-divider>
      <mat-form-field class="full-width-input">
        <input matInput type="password" placeholder="Old Password" formControlName="oldpassword" required>
      </mat-form-field>
      <mat-form-field class="full-width-input">
        <input
          matTooltip="Min length should be 7"
          [matTooltipPosition]="position.value"
          matInput type="password" placeholder="New Password" formControlName="newpassword" required>
      </mat-form-field>
      <mat-error *ngIf="samepassword">Old and New Password should be different.</mat-error>

      <mat-form-field class="full-width-input">
        <input matInput type="password" placeholder="Confirm Password" formControlName="confirmpassword" required>
      </mat-form-field>
      <mat-error *ngIf="mismatch">Password mismatch.</mat-error>
      <button mat-raised-button class="mat-primary" (click)="onSubmit()"  [disabled]="form.invalid">
        Reset Password
      </button>
    </form>
  </mat-card-content>
</mat-card>
