<mat-toolbar class="glass-wrap">
  <ng-container>
    <a routerLink="/">
      <img  class="mat-list-ima" src="assets/logo.PNG">
    </a>
  </ng-container>
  <ng-container *ngIf="isloggedin">
    <button  class="profile" mat-button [matMenuTriggerFor]="menu">
      <mat-icon>account_circle</mat-icon>
      <mat-label>{{username | uppercase}}</mat-label>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="goToUserProfile()">
      <mat-icon>face</mat-icon>
      <mat-label>Profile</mat-label>
      </button>
      <button mat-menu-item (click)="goToResetPassword()">
        <mat-icon>lock</mat-icon>
        <mat-label>Password Reset</mat-label>
      </button>
      <button (click)="logout()" mat-menu-item>
        <mat-icon>exit_to_app</mat-icon>
        <mat-label>Logout</mat-label>
      </button>
    </mat-menu>

  </ng-container>
  <ng-container *ngIf="! isloggedin">
    <div class="login">
      <a mat-flat-button routerLink="/login" >Login</a>
    </div>
    <div class="signup">
      <a mat-raised-button routerLink="/signup" color="primary">SignUp</a>
    </div>
  </ng-container>

</mat-toolbar>
