<mat-card>
  <img src="assets/cover_cream.png">
  <div style="text-align: center; font-size: 1em">Welcome to Let'sTalk home page. Come here to
    check in with your favorite topics.</div>
    <mat-divider></mat-divider>

    <mat-card-content>
      <div style="text-align: center">
        <a mat-raised-button color="primary" routerLink="/create-post">Create Post</a>
      </div>
      <div style="text-align: center">
        <a mat-raised-button  color="accent" routerLink="/create-subject" >Create Subject</a>
      </div>
    </mat-card-content>
</mat-card>
