.mat-card-title {
  display: inline;
  margin-bottom: 8px;
  font-size: 1.3rem;
}

.mat-card {
  margin-top: 1rem;
  margin-left: 10%;
  margin-bottom: 0.5rem;

}
.postdate{
  font-size: 0.8rem;
  display: inline-flex;
  padding: 5px;
  color: darkgray;
}

.myblock{
  padding-left: 5px;
  display: inline-block;
}

.posts{
  display: inline-block;
  box-sizing: border-box;
  flex-direction: column;
  width: 100%;
  padding-top: 5px;
}
.myfooter{
  margin-left: 0.3rem;
  margin-bottom: 0.3rem;
}
.username{
  font-weight: bolder;
  display: inline-flex;
}
.deleteIcon{
  cursor: pointer;
  color: saddlebrown;
  margin-left: 0.5rem;
}
